html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#events .slick-arrow:before {
  color: #29339B !important;
  font-size: 32px !important;
}

#events .slick-prev {
  z-index: 300 !important;
}

#events .slick-next {
  right: -15px !important;
}
